.chatbot{
    display: flex;
    flex-direction: column;
    width: 85%;
    max-height: 350px;
    position: static;
    overflow-x:hidden;
    overflow-y:auto;
    margin-left: 7.8%;
    margin-top: 5%;
    background-color:rgb(241, 229, 179);
    border-radius: 5%;
    
    
    
}
.input{
    margin-top: 30%;
    width: 60%;
    height: 6vh;
    border-bottom: 30%;
    margin-left: 8%;
    align-items: center;
    border-radius: 5px;
    
}

.button{ 
    height: 7vh;
    width: 15%;
    border-radius: 10%;
    border-bottom: 30%;
    align-items: center;
    background-color: rgb(112, 168, 170);
    

}

.botImg{

    width: 70px;
    height: 70px;
    border-radius: 10%;
    margin-left: 35px;
    
    
  }
  .bot{
      float:left;
      width: 200px;
      height: 100px;
      background-color:#fff;
      border-top:15px solid #fff;
      border-left:10px solid transparent;
      background-clip: padding-box;
      padding: 0 10px 10px 10px;
      border-radius: 12px;
      margin-left: 85px;
      margin-top: 5px;
      
      
    
  }
  .conteiner{
      align-content:flex-start;

      
  
  }