.cityImg{

    width: 70px;
    height: 70px;
    border-radius: 10%;
    margin-left: 35px;
    
    
  }
  .city{
      float:left;
      width: 200px;
      height: 100px;
      background-color:#fff;
      border-top:15px solid #fff;
      border-left:10px solid transparent;
      background-clip: padding-box;
      padding: 0 10px 10px 10px;
      border-radius: 12px;
      margin-left: 85px;
      
      
    
  }
  .cityForm{
    margin-top: 30%;
    width: 60%;
    height: 7vh;
    border-bottom: 30%;
    margin-left: 8%;
    align-items: center;
    border-radius: 5px;
    background-color:#fff;
    
  }
  